    /*修改container最大宽度为1280px 根据设计稿来走*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@media screen and (min-width:1280px) {
    .container {
        width: 1280px;
    }
}


/* header */

header {
    padding-left: 0!important;
}

.logo {
    background-color: #429ad9;
}


/*小屏时图片显示有问题，需要设置宽度*/

.logo img {
    /*宽度百分之百后图片会在小萍撑大*/
    /* width: 100%; */
    max-width: 100%;
    /*让图片在小屏居中*/
    display: block;
    margin: 0 auto;
}


/*进入超小屏幕后 logo里的图片隐藏*/

.nav {
    border-color: #eee;
    border-bottom: 1px solid #ccc;
}


/*超小屏后显示的文字*/

.logo span {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-size: 16px;
}

.nav a:hover {
    background-color: #fff;
    color: #333;
}

.nav a::before {
    vertical-align: middle;
    padding-right: 3px;
}

.nav a span::before {
    vertical-align: middle;
    padding-right: 3px;
}

.news li {
    float: left;
    width: 25%;
    height: 128px;
    padding-right: 10px;
    margin-bottom: 10px;
}


/*当进入小屏和超小屏后的导航样式*/

@media screen and (max-width:991px) {
    .nav li {
        float: left;
        width: 20%;
    }
    article {
        margin-top: 10px;
    }
}


/*当进入超小屏后nav的文字变为14px*/

@media screen and (max-width:767px) {
    nav li a {
        font-size: 14px;
        padding-left: 3px;
    }
    /*当处于超小屏，news第一个li宽度为100%，剩下的小li各占50%*/
    .news li:nth-child(1) {
        width: 100%!important;
    }
    .news li {
        width: 50%;
    }
    .news li a {
        position: relative;
        display: block;
        /*CSS3宽度不会掉*/
        width: 100%;
        height: 100%;
        background-color: purple;
    }
    .news li:nth-child(1) {
        width: 50%;
        height: 266px;
        /* background-color: pink; */
    }
    .news li:nth-child(1) p {
        line-height: 41px;
        font-size: 20px;
        padding: 0 10px;
    }
    .news li a img {
        width: 100%;
        height: 100%;
    }
    .news li a p {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 41px;
        background: rgba(0, 0, 0, .3);
        font-size: 12px;
        color: #fff;
        margin-bottom: 0;
        padding: 5px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .publish {
        border-top: 1px solid #ccc
    }
    .publish .row {
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
    }
    /*对图片位置微调*/
    .pic {
        margin-top: 10px;
    }
    .pic img {
        width: 100%;
    }
    .banner img {
        width: 100%;
    }
    .hot {
        display: block;
        border: 1px solid #ccc;
        margin-top: 20px;
        padding: 0 20px 20px;
    }
    .hot span {
        border-radius: 0px;
        margin-bottom: 20px;
    }
    .hot p {
        font-size: 12px;
    }