<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <span>用户名</span>
    <span v-if="isUser"><input type="text" id="username" placeholder="输入用户名"></span>
    <span v-else-if="!isUser"><input type="email" id="email" placeholder="输入邮箱"></span>
    <button @click="isUser = !isUser">切换登录类型</button>
</div>

<h2>视频原代码写法</h2>
<div id="app2">
    <span>用户名</span>
    <span v-if="isUser"><input type="text" id="username2" placeholder="输入用户名" key="username2"></span>
    <span v-else><input type="email" id="email2" placeholder="输入邮箱" key="email2"></span>
    <button @click="isUser = !isUser">切换登录类型</button>
    <p>使用key可以让vue切换时使用不同的输入切换而不会保留原来用户输入的内容（不会在input复用用户的输入）</p>
</div>

<script>
    const app = new Vue({
        el:'#app',
        data:{
            isUser: true,
        }
    })

    const app2 = new Vue({
        el:'#app2',
        data:{
            isUser: true,
        }
    })
</script>
</body>
</html>