.col {
    background-color: pink;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.678);
}

.clearfix {
    clear: both;
}

.wraper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background-color: lightgray;
}

header {
    height: 35px;
    width: 100%;
    background-color: skyblue;
    position: relative;
}

.info {
    width: 80%;
    line-height: 35px;
    margin: auto;
    text-align: center;
}

.info span {
    /* float: left; */
    margin-right: 30px;
    display: inline-block;
    box-sizing: content-box;
}

.info span:hover {
    color: #fff;
}

.info span:nth-child(1)::before {
    font-family: 'icomoon';
    content: "\e942";
    margin-right: 1em;
}

.info span:nth-child(2)::before {
    font-family: 'icomoon';
    content: "\ea84";
    margin-right: 1em;
}

nav {
    width: 100%;
    height: 50px;
    margin: auto;
    /* background-color: rgb(238, 65, 65); */
    border-top: 3px solid #ff8500;
    margin-bottom: 3px;
}

.nav_container {
    position: relative;
    width: 80%;
    height: 50px;
    margin: auto;
}

nav img {
    float: left;
    height: 100%;
}

.nav_item {
    float: right;
}

nav ul {
    line-height: 50px;
    /* margin: auto; */
    text-align: center;
}

nav ul li {
    float: left;
    width: 120px;
    font-weight: 550;
    margin: auto;
}

nav ul li a {
    display: inline-block;
    line-height: 50px;
    width: 100%;
}

nav ul li a:hover {
    background-color: #ff8500;
}

main {
    position: relative;
    height: 450px;
    /* width: 100%; */
    background-image: url("../img/truck4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: 100%;
    /* filter: blur(5px); */
    text-align: center;
}

main .cover {
    width: 100%;
    line-height: 450px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: orange; */
    background-color: rgba(89, 212, 243, 0.3);
}

main .content {
    width: 100%;
    line-height: 450px;
    position: absolute;
    z-index: 2;
    color: #fff;
    /* font-size: 26px; */
}

main .content h1,
main .content p {
    line-height: 450px;
}

section {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    background-color: aquamarine;
}